/*diapos*/
.scroll {
	width: 533px;
	height: 300px;
	overflow: hide;
	line-height: 1;
	position: relative;
	padding: 10px;
	background: #eee;
	margin: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border-radius: 3px;
	font-size: 0;
	line-height: 0;
}

.scroll img {
	height: 300px;
	margin: 0;
	padding: 0;
	border: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

@media (max-width: 1200px) {
	section.exemples .exemple {
		flex-flow: column nowrap;
	}

	section.exemples .exemple .column {
		text-align: center;
	}

	section.exemples .exemple p {
		max-width: 480px;
	}

}

@media (max-width: 640px) {

	.scroll,
	.scroll img {
		height: 200px;
	}

	.scroll {
		width: 356px;
	}

	section.exemples .exemple p {
		max-width: 360px;
	}
}

@media (max-width: 450px) {

	.scroll,
	.scroll img {
		height: 170px;
	}

	.scroll {
		width: 302px;
	}

	section.exemples .exemple p {
		max-width: 280px;
	}
}
@media (max-width: 400px) {

	.scroll,
	.scroll img {
		height: 140px;
	}

	.scroll {
		width: 249px;
	}

	section.exemples .exemple p {
		max-width: 300px;
	}
}

/*Bouteille bleue*/
#fillTheBottle {
	display: flex;
	flex-flow: row-reverse nowrap;
	align-items: flex-end;
}

.exemples.graphisme * {
	overflow: hidden;
}

#boxBouteille {
	background: white;
	position: relative;
	width: 360px;
	height: 500px;
}

#bouteille,
#fondBouteille {
	height: 440px;
	position: absolute;
	bottom: 20px;
	left: 30px;
	margin: 0;
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	pointer-events: none;
}

#fondBouteille {
	z-index: 1;
}

#bouteille {
	z-index: 10;
}

#resizerBouteille {
	position: absolute;
	height: 100px;
	width: 250px;
	bottom: 56px;
	left: 67px;
}

#testBar {
	width: 106px;
	height: 100%;
	background: #367D9C;
	z-index: 100;
}

#dessusBouteille {
	position: absolute;
	width: 106px;
	height: 16px;
	left: 0px;
	top: -8px;
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#handleBouteille {
	position: absolute;
	top: 0px;
	right: 0;
	width: 118px;
	height: 3px;
	background: #333;
}

#volume {
	position: absolute;
	right: 0;
	top: -30px;
	color: #333;
	font-size: 20px;
}

/*Bière + music*/
.iframe-column {
	flex: 1;
	min-width: 0;
}

.iframe-viewport {
	width: 100%;
	height: 360px;
	overflow: hidden;
	position: relative;
}

.iframe-viewport iframe {
	border: none;
	width: 200%;
	height: 200%;
	transform: scale(0.5);
	transform-origin: top left;
}