:root {
	--teal: #367D9C;
	--light-teal: #468DaC;
	--light-grey: #f3f3f3;
	--mid-grey: #ccc;
	--dark-grey: #888;
	--margeXL: 120px;
	--marge: 80px;
	--demi-marge: 40px;
	--dark: #333;
	--gold: rgba(255, 191, 0, 1);
	--light-gold: #ffda75;
	--pink: rgba(255, 0, 128, 1);
	--green: #99b160;

}

::selection {
	background-color: var(--gold);
}

* {
	scroll-behavior: smooth;
}

.gris {
	background-color: var(--light-grey);
}

.blanc {
	background-color: white;
}

.jaune {
	background-color: var(--light-gold);
}

.bleu {
	background-color: var(--teal);
	color: white;
}

.dark {
	color: var(--dark);
}

.bold {
	font-weight: 700;
}

.box-shadow {
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

.no-box-shadow {
	box-shadow: none !important;
}

.hide {
	display: none !important;
}

* {
	margin: 0;
	padding: 0;
}

html {
	cursor: wait;
	padding: 0;
	margin: 0;
	font-size: 16px;
}

body {
	font-family: 'Inter', sans-serif;
	color: black;
	line-height: 1.3;
	background: white;
	padding: 0;
	margin: 0;
}

section {
	position: relative;
	padding: var(--marge) 0;
	width: 100%;
	box-sizing: border-box;
}

section.titre {
	padding-top: var(--margeXL);
	text-align: left;
	background: black;
	color: white;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2rem;
	box-sizing: border-box;
}

h1 {
	font-family: 'Lilita One', sans-serif;
	font-size: clamp(2.2em, 4.5vw, 4em);
	font-weight: 300;
}

h2 {
	font-family: 'Lilita One', sans-serif;
	font-size: clamp(1.8em, 3vw, 2.6em);
	margin: var(--demi-marge) 0 var(--marge) 0;
	text-transform: uppercase;
	text-align: center;
	font-weight: 300;
}

h3 {
	font-family: 'Lilita One', sans-serif;
	font-weight: 300;
	font-size: 1.8em;
}

p {
	max-width: 42rem;
	margin-bottom: 0.3em;

}

.sous-titre {
	font-weight: 700;
}

/* Listes personnalisées */
ul {
	text-align: left;
	list-style: none;
	padding-left: 0;
	max-width: 42rem;
}

ul li {
	margin-left: 1.3em;
	text-indent: -1.3em;
}

ul li::before {
	content: "★";
	margin-right: 0.4em;
}

ul li::before {
	color: var(--gold);
	/* Pour les éléments impairs (1er, 3ème, etc.) */
}


/* Liens */
a {
	font-weight: bold;
	color: var(--gold);
	text-decoration-thickness: 1px;
}

a.hover {
	color: var(--pink);
}

a.white {
	color: white;
	text-decoration: none;
}

a.fancy:hover {
	background: #ff0080;
	background: linear-gradient(90deg, rgba(255, 0, 128, 1) 0%, rgba(255, 191, 0, 1) 70%);
	/* Set the background size and repeat properties. */
	background-size: 100%;
	background-repeat: repeat;
	/* Use the text as a mask for the background. */
	/* This will show the gradient as a text color rather than element bg. */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

button,
a.bouton {
	text-transform: uppercase;
	display: inline-block;
	font-family: 'Inter', sans-serif;
	background-color: var(--gold);
	color: white;
	font-weight: 900;
	font-size: 0.9rem;
	padding: 1em 2em;
	cursor: pointer;
	border-radius: 3px;
	border: none;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.6);
	text-decoration: none;
	box-sizing: border-box;
}

button:hover,
a.bouton:hover {
	/*	background: #ff0080;
/*	background: radial-gradient(circle, var(--pink) 0%, var(--gold) 100%);
*/
	background: #ff0080;
	background: linear-gradient(90deg, rgba(255, 0, 128, 1) 0%, rgba(255, 191, 0, 1) 70%);
	/*	background: var(--pink);*/
	color: white;
}

button {
	background: var(--dark-grey) !important;
	cursor: auto !important;
}

button:hover {
	background: var(--dark-grey) !important;
}


menu {
	position: fixed;
	top: 0;
	width: 100%;
	max-width: 100%;
	/* Empêche le dépassement */
	background: black;
	z-index: 200;
	font-size: 0.9rem;
	line-height: 2;
	
}

menu .container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	/* Alignement vertical si nécessaire */
	width: 100%;
}

#menu-titre {
	font-family: 'Lilita One', sans-serif;
	font-size: 2em;
	font-weight: normal;
}
#menu-titre a {
	font-weight: normal;
}

menuitem {}

#menuRight {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	gap: 30px;
	font-weight: 700;
}

menu a {
	background-color: black;
	color: var(--mid-grey);
	text-decoration: none;
}

menu a:hover,
a.menulike:hover {
	background: #ff0080;
	background: linear-gradient(90deg, rgba(255, 0, 128, 1) 0%, rgba(255, 191, 0, 1) 70%);
	/* Set the background size and repeat properties. */
	background-size: 100%;
	background-repeat: repeat;
	/* Use the text as a mask for the background. */
	/* This will show the gradient as a text color rather than element bg. */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-decoration: none;
}


/* --- HERO --- */
#hero {
	height: 100vh;
	min-height: 600px;
	overflow: hidden;
	background-image: url("../img/naute-blur.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 25% center;
	background-attachment: fixed;
	box-shadow: inset 0 -2px 6px 0 rgba(0, 0, 0, 0.5);
}

#blocktitre {
	margin-top: 40vh;
	color: white;
	text-shadow: 0.2em 0.2em 0 rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.2);
}
#blocktitre .gros-titre {
	font-size: clamp(3.4rem, 8vw, 8rem);
	font-family: 'Lilita One', 'Inter', sans-serif;
}
#blocktitre .titre {
	font-size: clamp(1.2rem, 2.6vw, 4rem);
	font-family: 'Inter', sans-serif;
	font-weight: 800;
}

/* --- CREDIT --- */
#credit {
	text-align: right;
	color: #555;
	font-size: 0.6em;
	padding: 0 1em;
}

#credit a {
	color: inherit;
}

/* --- SERVICES --- */
#servicesBox {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 20px;
}

.serviceItem {
	flex: 0 1 320px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	gap: 1em;
	padding: 20px;
	text-align: center;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	background: white;
	font-size: 0.9rem;
}

.serviceItem>* {
	margin: 0;
}

.serviceItem img {
	max-width: 320px;
	aspect-ratio: 3 / 2;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.serviceItem h3 {}

.serviceItem:nth-child(even) ul li::before {
	color: var(--pink);
	/* Pour les éléments pairs (2ème, 4ème, etc.) */
}

.serviceItem .bouton,
.serviceItem button {
	margin-top: auto;
}

/* --- LOGOS --- */
#logos {
	display: flex;
	flex-flow: row wrap;
	justify-content:center;
	align-items: center;
	align-content: center;
	gap: 30px;
}

#logos div {
	text-align: center;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

#logos img {
	max-width: 200px;
	max-height: 120px;
}

/* --- EXEMPLES --- */
section.exemples {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: flex-start;
	gap: 40px;
	font-size: 1rem;
}

section.exemples .exemple {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

section.exemples .exemple:not(:last-child)::after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right,
			transparent,
			var(--mid-grey),
			transparent);
	margin: 2rem 0;
	/* Espace entre le projet et la ligne */
}

section.exemples .exemple .column {
	flex: 0 1 43%;
}

section.exemples .exemple .column:first-child {
	text-align: center;
}

section.exemples .exemple .column>img,
section.exemples .exemple .column>a>img {
	max-width: 100%;
	max-height: 400px;
	object-fit: contain;
	border-radius: 3px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
}

footer {
	background: black;
	color: white;
	position: relative;
	height: 380px;
	margin: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: stretch;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);

}

footer #footerGauche {
	width: 50%;
	height: 380px;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

footer #footerGauche p {
	color: white;
	font-weight: bold;
	text-align: center;
}

footer>img {
	width: 50%;
	float: right;
	top: 0;
	object-fit: cover;
	object-position: left 42%;
	height: inherit;
}