:root {
	--teal: #367D9C;
	--light-teal: #468DaC;
	--grey: #eee;
	--dark-grey: #ccc;
	--marge: 100px;
	--dark: black;
}
::selection {
  background-color: #FFBF00; /* Jaune or */
}
* {
	scroll-behavior: smooth;
}

.gris {
	background-color: var(--grey);
}

.blanc {
	background-color: white;
}

.bleu {
	background-color: var(--teal);
}

.bleu * {
	color: white;
}

.dark {
	color: #333;
}
.police-titre {
	font-family: 'Lilita One', sans-serif;
	font-size: 1.2em;
}

@media (max-width: 640px) {
	* {
		box-sizing: border-box;
	}

	/* passer body (et tous les éléments de largeur fixe) en largeur automatique */

	body {
		width: auto;
		margin: 0;
		padding: 0;
	}

	/* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

	img,
	table,
	td,
	blockquote,
	code,
	pre,
	textarea,
	input,
	iframe,
	object,
	embed,
	video {
		overflow: hide;
	}

	/* conserver le ratio des images */

	img {
		height: auto;
	}

	/* gestion des mots longs */

	textarea,
	table,
	td,
	th,
	code,
	pre,
	samp {
		-webkit-hyphens: auto;
		/* césure propre */
		-moz-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word;
		/* passage à la ligne forcé */
	}

	code,
	pre,
	samp {
		white-space: pre-wrap;
		/* passage à la ligne spécifique pour les éléments à châsse fixe */
	}

	/* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */

	.element1,
	.element2 {
		float: none;
		width: auto;
	}

	/* masquer les éléments superflus */

	.hide-mobile {
		display: none !important;
	}

	/* Un message personnalisé */

	body:before {
		content: "Version mobile du site";
		display: block;
		text-align: center;
		font-style: italic;
		color: #777;
	}

	#logos img {
		max-width: 50vw !important;
		height: auto;
	}

}

@media (max-device-width:768px) and (orientation: landscape) {
	html {
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
	}
}

* {
	margin: 0;
	padding: 0;
	overflow: hide;
}

html {
	cursor: wait;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Inter', sans-serif;
	color: black;
	font-size: 18px;
	line-height: 1.6;
	background: white;
	padding: 0;
	margin: 0;
}

section {
	position: relative;
}

section:last-of-type {
	padding-bottom: var(--marge);
}

h2 {
	text-align: center;
	font-family: 'Lilita One', sans-serif;
	padding: var(--marge) 0 40px 0;
	font-size: 2em;
}

p {
}

a {
	font-weight: bold;
	color: var(--teal);
	text-decoration-thickness: 1px;
}
a:hover {
	background: #ff0080;
background: linear-gradient(90deg, rgba(255, 0, 128, 1) 0%, rgba(255, 191, 0, 1) 70%);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration-color: rgba(255, 191, 0, 1);
}
}

.bouton {
	display: inline-block;
	background-color: var(--teal);
	font-size: 16px;
	color: white;
	text-align: center;
	border: none;
	padding: 10px 16px;
	text-decoration: none;
}

.bouton:hover {
	background-color: var(--light-teal);
}


menu {
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	/* Alignement vertical si nécessaire */
	width: 100%;
	max-width: 100%;
	/* Empêche le dépassement */
	padding: 0 10%;
	/* Padding sur les côtés */
	box-sizing: border-box;
	/* Inclut le padding dans la largeur totale */
	background: var(--dark);
	z-index: 200;
	font-size: 0.9rem;
	line-height: 2;
}
#menu-titre {
	font-family: 'Lilita One', sans-serif;
	font-size: 2em;
}
menuitem {}

#menuRight {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	gap: 30px;
		font-weight: 900;
}

menu a {
	color:#bbb;
	background-color: black;
	text-decoration: none;
}

menu a:hover {
background: #ff0080;
background: linear-gradient(90deg, rgba(255, 0, 128, 1) 0%, rgba(255, 191, 0, 1) 70%);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	text-decoration: none;
}

/* ----------------- */
/* --- SECTION 1 --- */
/* ----------------- */
#section1 {
	position: relative;
	height: 100vh;
	min-height: 600px;
	width: 100%;
	overflow: hidden;
	background-image: url("../img/naute-blur.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

#blocktitre {
	position: absolute;
	top: 45%;
	width: 80%;
	left: 14.3vw;
	font-weight: 300;
	text-shadow: 0.04em 0.03em 0 #c5e800, 0 0 5px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 1);
	color: white;
	line-height: 1;
}

#blocktitre .titre {
	clear: left;
	float: left;
	padding: 3px 40px 0 10px;
}

#blocktitre .titre {
	font-size: clamp(1.2rem, 2.6vw, 4rem);
	font-family: 'Inter', sans-serif;
	font-weight: 800;
	text-shadow: 0.04em 0.03em 0 rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 1);
}

#section1 h1.gros.titre {
	font-size: clamp(3.4rem, 8vw, 8rem);
	font-family: 'Lilita One', 'Inter', sans-serif;
}

#blocktitre #ingenieur {
	margin-top: 0.2em;
}

#blocktitre #soutenabilite,
#blocktitre #reseaux {
	margin-top: 0.2em;
}
/* --- end section1 --- */
#credit {
	text-align: right;
	color: #555;
	font-size: 0.6em;
	margin:0 1em;
}

#credit a {
	color: inherit;
}



#quote {
	width: 100%;
	font-family: 'Lilita One', sans-serif;
	z-index: -10;
}

@media screen and (min-width: 320px) {
	#quote {
		font-size: calc(14px + 14 * ((100vw - 320px) / 680));
	}
}

@media screen and (min-width: 1000px) {
	#quote {
		font-size: 28px;
	}
}

#quote div {
	font-style: italic;
	font-size: 1em;
	font-weight: 200;
	line-height: 1.6;
	margin: -10px 0 0 0;
	padding: var(--marge) 25%;
	text-align: left;
	width: 100%;
	z-index: 100;
}

@media screen and (min-width: 640px) {
	#quote div {
		width: 50%;
	}
}

#quote span {
	z-index: 1;
	font-size: 6em;
	font-family: serif;
	color: var(--dark-grey);
	position: absolute;
	overflow: hide;
}

#quote1 {
	right: 76vw;
	top: 20px;
}

#quote2 {
	right: 20vw;
	bottom: 20px;
}

#resume {
	padding: var(--marge) 0;
}

#resume p {
	margin: 10px 23vw 0 33vw;
}

@media screen and (min-width: 100px) {
	#resume img {
		position: static;
		width: 50vw;
		height: auto;
		margin: 0 0 4vw 33vw;
	}
}

@media screen and (min-width: 640px) {
	#resume img {
		position: absolute;
		left: 16vw;
		width: 14vw;
		height: 14vw;
		top: 110px;
		max-width: 250px;
		max-height: 250px;
		margin: 0;
		border-radius: 600px;
	}
}

#resume a {
	margin: 10px 23vw 10px 33vw;
}

#praise>div {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

#praise .column {
	text-align: center;
	margin: 30px 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 220px;
}

#praise .column div {
	margin: 10px 0;
}

#praise .praise {
	font-weight: bold;
	color: inherit;
}

#praise .qui {
}

#logos {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#logos img {
	/* display:inline-block; */
	max-height: 120px;
	max-width: 300px;
	margin: 0 40px var(--marge) 40px;
}

#galerie {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-evenly;
	width: 100%;
	align-items: baseline;
	overflow: hide;
}

#galerie>div {
	flex: 0 1 20%;
	margin: 40px 20px;
}

#galerie>div:first-child {
	height: 500px;
}

/*#galerie > div > div > img {position:absolute;} */
.corrected {
	display: inline-block;
}

#galerie>div>p {
	padding: 0 4px;
}

#magazine {
	flex-basis: 40%;
}

#magazine img {
	display: inline-block;
	margin: 10px;
}

/*Nanoplastiques}*/
#beforeAfter {
	width: 500px;
}

.img-comp-container {
	position: relative;
	height: 500px;
	/*should be the same height as the images*/
}

.img-comp-img {
	position: absolute;
	width: auto;
	height: auto;
	overflow: hidden;
}

.img-comp-img img {
	display: block;
	vertical-align: middle;
}

.img-comp-slider {
	position: absolute;
	z-index: 9;
	cursor: ew-resize;
	/*set the appearance of the slider:*/
	width: 80px;
	height: 80px;
	background-color: var(--teal);
	border-radius: 50%;
	border: 3px solid white;
	line-height: 76px;
	vertical-align: center;
	text-align: center;
	color: white;
	font-size: 60px;
	font-weight: bold;

}

.img-comp-slider:after {
	content: "\2B04";
}

/*diapos*/
.scroll {
	height: 360px;
	max-width: 100vw;
	overflow: hide;
	line-height: 1;
	position: relative;
	padding: 20px;
	background: #eee;
	margin: 10px;
	width: 600px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 3px;
}

.scroll img {
	height: 300px;
	width: auto;
	margin: 10px 0;
}

/*Dessins vectoriels*/
#icones {
	background: transparent;
	height: 500px;
	width: 334px;
	display: flex;
	flex-flow: column-reverse wrap;
	justify-content: center;
	align-items: center;
}

#icones img {
	height: 33.33%;
	padding: 0;
	margin: 0;
}

/*Bouteille bleue*/
#fillTheBottle {
	width: 300px;
	position: relative;
}

#boxBouteille {
	background: white;
	position: relative;
	width: 360px;
	height: 500px;
	top: 0;
	left: 0;
}

#bouteille,
#fondBouteille {
	height: 440px;
	position: absolute;
	bottom: 20px;
	left: 30px;
	margin: 0;
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	pointer-events: none;
}

#fondBouteille {
	z-index: 1;
}

#bouteille {
	z-index: 10;
}

#resizerBouteille {
	position: absolute;
	height: 100px;
	width: 250px;
	bottom: 56px;
	left: 67px;
}

#testBar {
	width: 106px;
	height: 100%;
	background: #367D9C;
	z-index: 100;
}

#dessusBouteille {
	position: absolute;
	width: 106px;
	height: 16px;
	left: 0px;
	top: -8px;
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#handleBouteille {
	position: absolute;
	top: 0px;
	right: 0;
	width: 118px;
	height: 3px;
	background: #333;
}

#volume {
	position: absolute;
	right: 0;
	top: -30px;
	color: #333;
	font-size: 20px;
}

/*Bière*/
#beerItem {
	width: 520px;
	height: 360px;
	overflow: hide;
	position: relative;
}

#beerFrame {
	position: absolute;
	top: 0;
	left: 0;
	width: 1080px;
	height: 720px;
	overflow: hidden;
	border: none;
	box-shadow: none;
	-moz-transform: scale(0.5, 0.5);
	-webkit-transform: scale(0.25, 0.25);
	-o-transform: scale(0.25, 0.25);
	-ms-transform: scale(0.25, 0.25);
	transform: scale(0.5, 0.5);
	-moz-transform-origin: top left;
	-webkit-transform-origin: top left;
	-o-transform-origin: top left;
	-ms-transform-origin: top left;
	transform-origin: top left;
}

/*Film*/
#film {
	overflow: hide;
	max-width: 100vw;
}

#filmBox {
	height: 360px;
	background: black;
	position: relative;
	width: 500px;
	overflow: hide;
	margin: 0;
	padding: 0;
}

#filmBox iframe {
	max-width: 500px;
	position: absolute;
	top: 40px;
	margin: 0 !important;
	padding: 0;
	overflow: hide;
}

footer {
	background: var(--dark);
	color: white;
	position: relative;
	height: 380px;
	margin: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: stretch;

}

footer #footerGauche {
	width: 50%;
	height: 380px;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

footer #footerGauche p {
	color: white;
	font-weight: bold;
	padding: 20px;
	text-align: center;
}

footer>img {
	display: inline-block;
	width: 50%;
	float: right;
	top: 0;
	object-fit: cover;
	object-position: left 42%;
	height: inherit;
}