:root {
  --jaune: #E5C713;
  --jaune-sombre: #99850d;
  --grey: #eee;
  --dark-grey: #ccc;
  --marge: 100px;
  --dark: black;
}

* {
  margin: 0;
  padding: 0;
  overflow: hide;
}

html {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: white;
  line-height: 1.6;
  background-image: url("../zombies.jpg");
  background-size: 100% auto;
    background-repeat: no-repeat;
      background-position: right top;
    background-color: black;
  padding: 0;
  margin: 0;
}

section {
  position: relative;
}

#body_section {
  margin: 0 10% 6px 10%;
}

section:last-of-type {
  padding-bottom: var(--marge);
}

h2 {
  font-family: 'Creepster';
  font-variant: small-caps;
  font-size: 1.6em;
  margin: 40px 0 10px 0;
  max-width: 800px;
}

h3 {
  font-family: 'Creepster';
  font-variant: small-caps;
  font-weight: 300;
  font-size: 1.3em;
  margin: 40px 0;
  max-width: 720px;
  padding: 40px;
  color:black;
  background: var(--jaune);
}


p {
  max-width: 800px;
  font-family: 'Ubuntu';
  margin: 0 0 1em 0;
}

.bold {
  font-weight: 700;
  color: var(--jaune);
}

a {
  color: var(--jaune);
}

.titre {
  text-align: left;
  margin: 60px 0;
  font-weight: bold;
  font-size: 4em;
  font-family: 'Creepster';
  line-height: 1em;
  text-shadow: 6px 6px 5px var(--jaune);
}

.smallcaps {
  font-variant: small-caps;
}

@media screen and (max-width: 600px) {
  #section1 .titre {
    font-size: calc(3em + 14 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  #section1 .titre {
    font-size: 6em;
  }
}

footer {
  background: var(--jaune);
  margin-top: 40px;
  padding: 20px 10% 20px 10%;
  font-family: "Creepster";
  color: black;
}
