:root {
  --player1: red;
  --player2: blue;
  --player3: green;
  --player4: hotpink;
  --player5: orange;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin:0;
  padding:0;
  background:#eee;
  user-select: none;
}
#container {
  position:relative;
  display:block;
  width:1200px;
  padding:0;
  margin:10px auto;
}
#canvas {
  margin:0;
  width:100%;
  height:100%;
  background:white;
  margin: 10px auto;
  display:block;
}
#nbreJoueurs {
  position:absolute;
  top:10px;
  left:10px;
  font-size: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: : center;
}
#nbreJoueurs > div {
  margin: 4px 0;
}
#nbreJoueurs #nbre {
  font-weight:bold;
  display: inline-block;
  text-align: center;
  width:24px;
  height:24px;
  line-height: 24px;
  background: white;
}
#nbreJoueurs #moins, #nbreJoueurs #plus {
  background:#888;
  color:white;
  font-weight:bold;
  display: inline-block;
  text-align: center;
  width:24px;
  height:24px;
  line-height: 24px;
  /* height:20px; */
  /* line-height: 20px; */
}
#nbreJoueurs #moins:hover, #nbreJoueurs #plus:hover {
  background:#555;
  cursor: pointer;
}
#nbreJoueurs #moins {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#nbreJoueurs #plus {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#joueurs {
text-align: center;
}
#compteur {
  position:absolute;
  top:10px;
  right:10px;
  padding:10px;
  text-align: center;
  color:white;
  font-weight: bold;
  font-size: 30px;
  background: var(--player1);
}
#direction {
  position: absolute;
  top:200px;
  left:590px;
  font-size: 20px;
}
.options {
  position:absolute;
  width: 50px;
  height:50px;
  transform: translate(-50%, -50%);
  left:100px;
  top:100px;
  z-index:10;
}
.joueur {
  border-radius: 50%;
  width:8px;
  height:8px;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index:1;
}
#player1 {
  background-color: var(--player1);
}
#player2 {
  background-color: var(--player2);
}
#player3 {
  background-color: var(--player3);
}
#player4 {
  background-color: var(--player4);
}
#player5 {
  background-color: var(--player5);
}
#player1options:hover .option {
  border:1px solid var(--player1);
}
#player2options:hover .option {
  border:1px solid var(--player2);
}
#player3options:hover .option {
  border:1px solid var(--player3);
}
#player4options:hover .option {
  border:1px solid var(--player4);
}
#player5options:hover .option {
  border:1px solid var(--player5);
}
#player1options .option.long.lat {
  border:1px solid var(--player1);
}
#player2options .option.long.lat {
  border:1px solid var(--player2);
}
#player3options .option.long.lat {
  border:1px solid var(--player3);
}
#player4options .option.long.lat {
  border:1px solid var(--player4);
}
#player5options .option.long.lat {
  border:1px solid var(--player5);
}
.option {
  border-radius: 50%;
  width:8px;
  height:8px;
  position: absolute;
}
.option:hover {
  cursor: pointer;
}
#player1options .option:hover {
  background: var(--player1);
}
#player2options .option:hover {
  background: var(--player2);
}
#player3options .option:hover {
  background: var(--player3);
}
#player4options .option:hover {
  background: var(--player4);
}
#player5options .option:hover {
  background: var(--player5);
}
.option.steady {
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}
.option.nord {
  top:0;
}
.option.long {
  left:calc(50% - 5px);
}
.option.est {
  right:0;
}
.option.lat {
  top:calc(50% - 5px);
}
.option.sud {
  bottom:0;
}
.option.ouest {
  left:0;
}
