html.touch *:hover {
    all:unset!important;
}
#carto {
  position:relative;
  height: 700px;
  width:900px;
  background-image: url("../img/NAfade.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: auto 700px;
  background-attachment: scroll;
  background-color:white;
  display:block;
  margin:0 auto;
}
#carto .pseudoHeader {
  min-height:40vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  /* background: rgba(0, 0, 50, 0.05); */
}
#carto .pseudoHeader h1 {
color: var(--main4);
  text-shadow: 0 0 6px white;
}
#carto .pseudoHeader p {
color:var(--main4);
text-shadow: 0 0 6px white;
font-weight:500;
}
#carto .dot {
  user-select: none;
  position:absolute;
  width:12px;
  height:12px;
  border:1px solid white;
  border-radius: 50%;
  transform: translate(+50%, -50%);
  z-index: 1;
  opacity:0.2;
}
#carto .dot.bio {background:var(--bio3);border:2px solid var(--bio);}
#carto .dot.socio {background:var(--socio3);border:2px solid var(--socio);}
#carto .dot.geo {background:var(--geo3);border:2px solid var(--geo);}
#carto .dot.eco {background:var(--eco3);border:2px solid var(--eco);}
#carto .dot.hist {background:var(--hist3);border:2px solid var(--hist);}
#carto .dot.inge {background:var(--inge3);border:2px solid var(--inge);}
#carto .dot.info {background:var(--info3);border:2px solid var(--info);}
#carto .dot.lettres {background:var(--lettres3);border:2px solid var(--lettres);}
#carto .dot.pluri {background:#666;border:2px solid #bbb;}
#carto .dot.solid {
  opacity:1;
}

#carto .dot:hover {
cursor:pointer;
opacity: 1;
z-index:20;
}
#carto .dot .label {
display:none;
position: absolute;
text-align:center;
min-width:60px;
padding:6px;
background: inherit;
color:white;
font-weight:bold;
font-size:0.7em;
border-radius:4px;
border:2px solid white;
bottom:12px;
left:3px;
transform: translate(-50%, 0);
}
#carto .dot.solid:hover .label {
display:block;
}
#carto .dot.solid .label:hover {
display:none;
}

#carto .dot.highlighted {
background:var(--highlight) !important;
border: 2px solid white !important;
z-index:10;
}
#carto .dot.highlighted:hover {
  z-index: 30;
}
#carto .dot.solid.highlighted .label{
background:var(--highlight);
display:block;
}

#stylekey {
position:absolute;
top:100px;
right:600px;
display:flex;
flex-flow: row nowrap;
justify-content: flex-start;
align-content: flex-end;
user-select: none;
}
#stylekey > div {
  margin:24px 4px 0 4px;
  width:200px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

#stylekey .titre {
margin:0 10px;
max-width:160px;
padding:10px 22px;
font-weight:bold;
color:var(--main4);
text-shadow: 0 0 2px white;
text-shadow: 0 0 4px white;
text-shadow: 0 0 6px white;
}

#stylekey .bouton {
margin:0 7px;
padding:3px;
border:none;
}
#stylekey .bouton .texte-bouton {
  background: var(--main0);
  background:#fbfcff;
  border-radius: 4px;
  padding:10px 20px;
  color:var(--main2);
  max-width:200px;
  font-size: 0.9em;
  opacity: 0.8;
}
#stylekey .bouton:hover .texte-bouton {
opacity: 1;
cursor:pointer;
}
#stylekey .bouton.clicked .texte-bouton {
  color:white !important;
}
#stylekey .bouton#bio .texte-bouton {
  background: var(--bio);
  color:var(--bio2);
}
#stylekey .bouton#bio.clicked .texte-bouton {
  background:var(--bio2);
}
#stylekey .bouton#socio .texte-bouton {
  background:var(--socio);
  color:var(--socio2);
}
#stylekey .bouton#socio.clicked .texte-bouton {
  background:var(--socio2);
}
#stylekey .bouton#geo .texte-bouton {
  background:var(--geo);
  color:var(--geo2);
}
#stylekey .bouton#geo.clicked .texte-bouton {
  background: var(--geo2);
}
#stylekey .bouton#eco .texte-bouton {
  background: var(--eco);
  color:var(--eco2);
}
#stylekey .bouton#eco.clicked .texte-bouton {
  background: var(--eco2);
}
#stylekey .bouton#hist .texte-bouton {
  background: var(--hist);
  color:var(--hist2);
}
#stylekey .bouton#hist.clicked .texte-bouton {
  background: var(--hist2);
}
#stylekey .bouton#inge .texte-bouton {
  background: var(--inge);
  color:var(--inge2);
}
#stylekey .bouton#inge.clicked .texte-bouton {
  background: var(--inge2);
}
#stylekey .bouton#info .texte-bouton {
  background: var(--info);
  color:var(--info2);
}
#stylekey .bouton#info.clicked .texte-bouton {
  background: var(--info2);
}
#stylekey .bouton#lettres .texte-bouton {
  background: var(--lettres);
  color:var(--lettres2);
}
#stylekey .bouton#lettres.clicked .texte-bouton {
  background: var(--lettres2);
}

@media (max-width: 1300px) {
  #stylekey {
    right:540px;
  }
  #stylekey .bouton .texte-bouton {
    font-size:0.8em;
  }
#stylekey .bouton .texte-bouton {
  max-width: 160px;
}
    #stylekey .titre {
      font-size:0.9em;
}
#stylekey > div {
  margin:24px 0 0 0;
}
}
@media (max-width: 1080px) {
  .header#carto {
    position:relative;
    height: 1147px;
    background-image: url("../img/carte-france-oceans-verticale.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: auto 1147px;
    background-attachment: scroll;
    background-color: #79dbda;
    display:block;
  }
  #stylekey {
  position:absolute;
  right:20px;
  bottom:20px;
  top:800px;
  left:20px;
  display:flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: center;
  }
  #stylekey > div {
    margin:24px 0 0 0px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch ;
  }
  #stylekey .bouton .texte-bouton {
    padding:6px;
    max-width:180px;
  }
}
@media (max-width: 600px) {
  .header#carto h1 {
    font-size:2.2em;
  }
  .header#carto p {
    font-size:1.2em;
  }
  .header#carto .container {
    width:80%;
    margin-top:20px;
  }
  .header#carto {
    width:200vw;
    height:1148px;
    margin:-288px -50%;
    transform: scale(0.5);
  }
  #fiche {
    font-size: 0.8em;

  }
  #stylekey .titre {
    margin:0 1px;
    max-width:140px;
    padding:10px 14px;
  }
  #stylekey .bouton {
  margin:0 8px;
  padding:1px;
  background:transparent;
  border:none;
  max-width:140px;
  }
}
