section#fiches-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  width:100vw;
  max-width:1200px;
  margin:40px auto;
  border:none;
}

.fiche {
  position:relative;
  background: var(--main0);
  border-top: 10px solid white;
  box-shadow: 2px 2px 4px #888;
  width: 360px;
  padding: 40px 0 10px 0;
  margin:8px;
  font-size: 0.9em;
  display:none;
}
.fiche.selected {
  display:block;
}
.fiche > * {
  padding:0 20px ;
  border:none;
	text-align:center;
}
/* .filtres-fiche {
  font-size:0.9em;
  font-weight:bold;
  color:var(--main0);
  background:var(--main4);
  padding:16px 22px;
}
.filtres-fiche > * {
  padding:4px 0;
} */
.fiche .tete {
  text-align:center;
  display:flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: center;
  height:8em;
}

div.fiche div.tete div {
  margin:4px auto;
  color:black;
}
.fiche .tete .sigle-fiche {
  font-weight:bold;
  font-size:1.4em;
  margin: 0;
  padding:4px;
  cursor:pointer;
  position:relative;
  user-select: none;
}
.fiche .tete .sigle-fiche:hover {
  color:var(--highlight);
}
.fiche .tete .sigle-fiche:hover::after {
  display:inline;
  content: "\01F4CC";
  position:absolute;
  top:0px;
  margin:0 6px;
}
.fiche .tete .sigle-fiche.highlighted::after {
  color:var(--highlight);
  display:inline;
    content: "\01F4CC";
    position:absolute;
    top:0px;
    margin:0 6px;
}
.fiche .tete .identifiant-fiche {
  font-size:0.8em;
  line-height: 1;
}
.fiche .tete .domaine-fiche span {
  display:inline-block;
  font-weight:bold;
  border-radius: 6px;
  background-color: lightgray;
  margin:3px;
  padding: 4px 6px;
}
.fiche .tete .domaine-fiche span.bio {color:var(--bio2);background:var(--bio);}
.fiche .tete .domaine-fiche span.socio {color:var(--socio2);background:var(--socio);}
.fiche .tete .domaine-fiche span.geo {color:var(--geo2);background:var(--geo);}
.fiche .tete .domaine-fiche span.eco {color:var(--eco2);background:var(--eco);}
.fiche .tete .domaine-fiche span.hist {color:var(--hist2);background:var(--hist);}
.fiche .tete .domaine-fiche span.inge {color:var(--inge2);background:var(--inge);}
.fiche .tete .domaine-fiche span.info {color:var(--info2);background:var(--info);}
.fiche .tete .domaine-fiche span.lettres {color:var(--lettres2);background:var(--lettres);}

.fiche .logo-box-fiche {
  margin:40px auto;
  padding:0;
  height:100px;
  width:100%;
  display:flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
}
.fiche .logo-box-fiche a {
  text-decoration:none;
  color:inherit;
  max-height:100px;
  width:60%;
  margin:0 auto;
}
.fiche img.logo-fiche {
  display: block;
  max-height:100%;
  max-width:100%;
  margin:0 auto;
}
.fiche .logo-box-fiche a:hover {
  max-height:105px;
  width:63%;
}
.fiche .forces-fiche {
  padding:4px;
  margin:0;
  font-weight:bold;
  color:#555;
  user-select: none;
  display: none;
}
.fiche .forces-fiche:hover {
  cursor:pointer;
  color:black;
}
.fiche .forces-fiche.clos:hover::before {
  content:"\2193";
  display: inline;
  padding-right: 10px;
}
.fiche .forces-fiche.clos:hover::after {
  display: inline;
  content:"\2193";
  padding-left: 10px;
}
.fiche .forces-fiche.ouvert:hover::before {
  display: inline;
  content:"\2191";
  padding-right: 10px;
}
.fiche .forces-fiche.ouvert:hover::after {
  display: inline;
  content:"\2191";
  padding-left: 10px;
}
.fiche .forces-fiche-liste {
  display: none;
  margin: 20px;
}

/* .fiche .grosPlus {
  font-size: 60px;
  margin: 0 auto;
  padding:0;
  width: 100%;
  text-align: center;
  color:var(--main2);
}
.fiche .grosPlus:hover {
  cursor:pointer;
  color:var(--highlight);
}
.fiche .grosPlus.clos:after {
  content:"+";
}
.fiche .grosPlus.ouvert:after {
  content:"\2212";
} */
.fiche .contact {
}
.fiche h2.contact {
	text-transform:uppercase;
	color:#444;
	font-size:1em;
	margin:0;
	
}
.contact-fiche * {
  line-height:1.6;
}
.nom-contact-fiche span {
  font-weight: bold;
}
.contact-fiche .contact-nom {
  font-variant: small-caps;
}

.titre-fiche {
  display:none;
  font-size:1.2em;
  color:var(--main4);
  font-weight:bold;
  margin:20px 0;
}
.p-fiche {
  display:none;
  margin:10px 0;
}
.fiche.highlighted {
  border-top: 10px solid var(--highlight);
  order:-1;
}
