body {
  padding:0 2%;
  font-size: 1.1em;
  line-height: 1.4em;
}
table {
    border-collapse: collapse;
    border: 2px solid black;
    font: 12px sans-serif;
    border:none;
    box-shadow: 0 0 4px #338;
}
#tablehead {
  background: #338;
  color:white;
  font-weight:bold;
}
#tablehead td {
padding: 10px 5px;
}
tr:nth-child(even) {
  background: #eef;
}
td {
    border: 1px solid #eef;
    padding: 2px 5px;
}

section {
  margin: 60px 0;
}
#navigateur-section {
  height: 400px;
}
#back {
  font-size: 1.6em;
  margin: 1em 0 0.2em;
}
.target, #back {
  cursor: pointer;
  font-weight: bold;
  color:#338;
}
.target:hover, #back:hover {
  color: #88d;
  text-decoration: none;
}
#table-div div, span {
  font-weight:bold;
  text-transform: capitalize;
}
.label {
  font-weight:normal;
    text-transform:none;
}
